/*white smoke #f4f4f9*/

body {
  font-family: 'Kalam', cursive;
  position: relative;
  background: #f1fffa;
}

.icon-top {
  background: #2a9134;
}

.icon-top a {
  color: #f1fffa;
  font-size: 25px;
  transition: color .5s ease-in-out;
}

.icon-top a:hover {
  color: #242424;
}

.icon-top h5 {
  color: #242424;
}
